[build]
publish = "dist"
command = "npx vite build"

[functions]
directory = "netlify/functions"

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/:splat"
status = 200

[context]
[context.production]
[context.production.environment]
NODE_ENV = "production"

[context.deploy-preview]
[context.deploy-preview.environment]
NODE_ENV = "development"